@@include('dev/includes/head.html')
   <body>
      <noscript>
         <div id="noscript" class="container">
            <div class="row">
               <div class="col-xs-12">
                  <h1>Você está usando o NoScript? Talvez só não curte JavaScript?</h1>
                  <p>Sem problemas! Eu <em>(também?)</em> uso o NoScript! É excelente para proteção quando navegamos pela Internet. Garanto que somos seguros, mas se não quiser arriscar, libere apenas nosso domínio <code>https://ajuda.ai/</code> e tudo vai funcionar de boa ;)</p>
               </div>
            </div>
         </div>
      </noscript>
      <a href="#conteudo" id="jump-to-content" class="accessibility-link hidden">Ir para o Conteúdo</a>
      @@include('dev/includes/menu-top.html')
      <div id="content">
         <div class="ng-scope" id="page-index" ng-controller="MainController">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xs-12">
                     <div class="hero">
                        <div active="active" interval="currentSlideInterval()" ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel ng-isolate-scope" ng-swipe-right="prev()" ng-swipe-left="next()">
                           <div class="carousel-inner" ng-transclude="true">
                              <!-- ngRepeat: slide in slides track by slide.id -->
                              <div style="" ng-repeat="slide in slides track by slide.id" index="slide.id" ng-class="{'active': active}" class="item text-center ng-scope ng-isolate-scope active" ng-transclude="">
                                 <img src="img/index-img-01.jpg" class="ng-scope" ng-src="img/index-img-01.jpg" style="margin:auto;"/>
                                 <div class="carousel-caption ng-scope">
                                    <h1 class="ng-binding" ng-bind-html="::slide.caption">Juntamos quem <strong>quer ajudar</strong> a quem <strong>precisa de ajuda</strong>.</h1>
                                    <p class="hero-btn-para"><a href="http://localhost/ama" ng-href="/ama" class="hero-btn ng-binding" ng-bind-html="::slide.button">Ajude a AMA - Associação dos Amigos dos Autistas</a></p>
                                 </div>
                              </div>
                              <!-- end ngRepeat: slide in slides track by slide.id -->
                              <div ng-repeat="slide in slides track by slide.id" index="slide.id" ng-class="{'active': active}" class="item text-center ng-scope ng-isolate-scope" ng-transclude="">
                                 <img src="img/index-img-02.jpg" class="ng-scope" ng-src="img/index-img-02.jpg" style="margin:auto;">
                                 <div class="carousel-caption ng-scope">
                                    <h1 class="ng-binding" ng-bind-html="::slide.caption">Curtiu nosso projeto? <strong>Conheça</strong> o que é o Ajuda.Ai!</h1>
                                    <p class="hero-btn-para"><a href="http://localhost/sobre" ng-href="/sobre" class="hero-btn ng-binding" ng-bind-html="::slide.button">Sobre o Ajuda.Ai</a></p>
                                 </div>
                              </div>
                              <!-- end ngRepeat: slide in slides track by slide.id -->
                              <div style="" ng-repeat="slide in slides track by slide.id" index="slide.id" ng-class="{'active': active}" class="item text-center ng-scope ng-isolate-scope" ng-transclude="">
                                 <img src="img/index-img-03.jpg" class="ng-scope" ng-src="img/index-img-03.jpg" style="margin:auto;"/>
                                 <div class="carousel-caption ng-scope">
                                    <h1 class="ng-binding" ng-bind-html="::slide.caption">Saiba quem são <strong>os rostos</strong> (e dedos) por trás deste Projeto</h1>
                                    <p class="hero-btn-para"><a href="http://localhost/sobre#desenvolvedores" ng-href="/sobre#desenvolvedores" class="hero-btn ng-binding" ng-bind-html="::slide.button">Conheça a gente :)</a></p>
                                 </div>
                              </div>
                              <!-- end ngRepeat: slide in slides track by slide.id -->
                           </div>
                           <a role="button" href="" class="left carousel-control" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length &gt; 1">
                           <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                           <span class="sr-only">previous</span>
                           </a>
                           <a role="button" href="" class="right carousel-control" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length &gt; 1">
                           <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                           <span class="sr-only">next</span>
                           </a>
                           <ol class="carousel-indicators" ng-show="slides.length &gt; 1">
                              <!-- ngRepeat: slide in slides | orderBy:indexOfSlide track by $index -->
                              <li style="" class="ng-scope active" ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
                                 <span class="sr-only ng-binding">
                                    slide 1 of 3<!-- ngIf: isActive(slide) --><span style="" class="ng-scope" ng-if="isActive(slide)">, currently active</span><!-- end ngIf: isActive(slide) -->
                                 </span>
                              </li>
                              <!-- end ngRepeat: slide in slides | orderBy:indexOfSlide track by $index -->
                              <li class="ng-scope" ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
                                 <span class="sr-only ng-binding">
                                    slide 2 of 3<!-- ngIf: isActive(slide) -->
                                 </span>
                              </li>
                              <!-- end ngRepeat: slide in slides | orderBy:indexOfSlide track by $index -->
                              <li style="" class="ng-scope" ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
                                 <span class="sr-only ng-binding">
                                    slide 3 of 3<!-- ngIf: isActive(slide) -->
                                 </span>
                              </li>
                              <!-- end ngRepeat: slide in slides | orderBy:indexOfSlide track by $index -->
                           </ol>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xs-12">
                     <div class="page-content">
                        <h1 class="page-title">Algum texto</h1>
                        <h4 class="page-subtitle">Algum texto vai ficar aqui. Por enquanto, temos Slipsum.</h4>
                        <hr>
                        <p>Normally,
                           both your asses would be dead as fucking fried chicken, but you happen 
                           to pull this shit while I'm in a transitional period so I don't wanna 
                           kill you, I wanna help you. But I can't give you this case, it don't 
                           belong to me. Besides, I've already been through too much shit this 
                           morning over this case to hand it over to your dumb ass. 
                        </p>
                        <p>Well, 
                           the way they make shows is, they make one show. That show's called a 
                           pilot. Then they show that show to the people who make shows, and on the
                           strength of that one show they decide if they're going to make more 
                           shows. Some pilots get picked and become television programs. Some 
                           don't, become nothing. She starred in one of the ones that became 
                           nothing. 
                        </p>
                        <p>Your bones don't break, mine do. That's clear. Your 
                           cells react to bacteria and viruses differently than mine. You don't get
                           sick, I do. That's also clear. But for some reason, you and I react the
                           exact same way to water. We swallow it too fast, we choke. We get some 
                           in our lungs, we drown. However unreal it may seem, we are connected, 
                           you and I. We're on the same curve, just on opposite ends
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   @@include('dev/includes/footer.html')
   </body>
</html>