@@include('dev/includes/head.html')
   <body>
      <noscript>
         <div id="noscript" class="container">
            <div class="row">
               <div class="col-xs-12">
                  <h1>Você está usando o NoScript? Talvez só não curte JavaScript?</h1>
                  <p>Sem problemas! Eu <em>(também?)</em> uso o NoScript! É excelente para proteção quando navegamos pela Internet. Garanto que somos seguros, mas se não quiser arriscar, libere apenas nosso domínio <code>https://ajuda.ai/</code> e tudo vai funcionar de boa ;)</p>
               </div>
            </div>
         </div>
      </noscript>
      <a href="#conteudo" id="jump-to-content" class="accessibility-link hidden">Ir para o Conteúdo</a>
      @@include('dev/includes/menu-top.html')
      <div id="content">
         <div class="ng-scope" id="page-institution" ng-controller="InstitutionController">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xs-12">
                     <div class="hero">
                        <div class="hero-banner"> 
                            <img src="img/banner_AMA1.jpg" class="hero-img"/>
                        </div>
                        <div class="hero-page-title">
                           <div class="hero-page-title-logo">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-2 text-center">
                                       <div class="institution-logo">
                                           <img src="img/logo-ama.jpg" alt="Logo" title="Logo da Instituição/ONG que você pode ajudar"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-10">
                                       <h1 class="hero-title">
                                           <strong>AMA/PI - Associação de Amigos do Autista do Piauí</strong>
                                           <br/>precisa da sua ajuda!
                                        </h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="hero-page-title-info">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-xs-12 col-sm-offset-3 col-md-offset-2 col-sm-2 loadingInfo" ng-class="{loadingInfo:'loading'}">
                                       <div class="institution-donors ng-binding" ng-bind="donations.count | number" title="Quantidade de pessoas que fizeram doações a esta Instituição/ONG">0</div>
                                       <div class="institution-donors-caption">
                                          <ng-pluralize count="donations.count" when="{'0': 'ajudante :(', 'one': 'ajudante', 'other': 'ajudantes'}">ajudante :(</ng-pluralize>
                                       </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 loadingInfo" ng-class="{loadingInfo:'loading'}">
                                       <div class="institution-value ng-binding" ng-bind="donations.value | currency" title="Valor arrecadado para esta Instituição/ONG">$0.00</div>
                                       <div class="institution-value-caption">arrecadados</div>
                                    </div>
                                    <div class="col-xs-12 col-sm-offset-2 col-sm-3 col-md-4">
                                       <div class="donate-button" ng-click="donate()">Faça uma Doação</div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-xs-12">
                     <div class="page-content">
                        <h1 class="page-title">Saiba Mais</h1>
                        <h4 class="page-subtitle">Conheça um pouco do trabalho que você pode ajudar a continuar</h4>
                        <hr>
                        <h2>O QUE É A AMA/PI</h2>
                        <p>Entidade
                           sem fins lucrativos, reconhecida de utilidade pública municipal - Lei 
                           nº 2.964/00, e utilidade pública estadual pela Lei nº 5.201/08/01, 
                           inscrita no Conselho Municipal dos Direitos da Criança e do Adolescente 
                           de Teresina (CMDCAT) nº 094/02.
                        </p>
                        <h2>COMO SURGIU A IDEIA</h2>
                        <p>Surgiu
                           da necessidade dos pais em encontrar apoio e suporte técnico para 
                           educação e tratamento de seus filhos autistas. Foi fundada em 29 de 
                           Janeiro de 2000, por pais e amigos dos autistas residentes em 
                           Teresina-PI, que superando a desinformação diante do quadro de Autismo, 
                           reuniram-se para transformar questionamentos em ação somando forças para
                           obter serviços estruturados nas áreas de saúde, educação especial, 
                           trabalho e assistência social.
                        </p>
                        <p><a href="http://amigosautistas.blogspot.com.br/">Visite nosso site!</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-header">
            <h3 class="modal-title">Doação a AMA/PI - Associação de Amigos do Autista do Piauí!</h3>
         </div>
         <div class="modal-body">
            <p>Muito obrigado(a)! Independente do tamanho de sua ajuda, ela é imprescindível para manter Instituições/ONGs funcionando.</p>
            <div class="form-horizontal">
               <div class="form-group"><label for="name">Seu Nome</label><input class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="name" ng-model="donation.name" placeholder="Seu nome :)" type="text"></div>
               <div class="form-group"><label for="email">Seu E-mail</label><input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-email" id="email" ng-model="donation.email" placeholder="Endereço de E-mail que será enviado o Pedido de Pagamento" type="email"></div>
               <div class="form-group"><label for="value">Valor da Doação</label><input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-min ng-valid-max" id="value" ng-model="donation.value" placeholder="Valor de sua Doação" min="1" max="100000" type="number"></div>
            </div>
         </div>
         <div class="modal-footer"><button class="btn btn-primary" type="button" ng-click="ok()">OK</button><button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button></div>
         <script type="text/ng-template" id="donation-modal.html"></script>
      </div>
   @@include('dev/includes/footer.html')
   </body>
</html>