/* If you don't want to use the WebFonts JS: @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600); */

body {
	background: #eceff1;
	padding-top: 45px;
}
.wf-josefinsans-n4-active body {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	z-index: 100000;
}
nav, #footer {
	color: #fff;
	background: #155EA9;
}
.nav-div {
	max-width: 50%;
}
.nav-left {
	float: left;
	text-align: left;
}
.nav-right {
	float: right;
	text-align: right;
}
#main-logo, .nav-link {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	line-height: 45px;
	height: 45px;
	padding: 0 25px;
	margin-right: 5px;
	-webkit-transition: color .1s ease, background-color .1s ease;
	-moz-transition: color .1s ease, background-color .1s ease;
	transition: color .1s ease, background-color .1s ease;
}
#main-logo:hover, .nav-link:hover {
	color: #fff;
	background: #153654;
	text-decoration: none;
}
#main-logo {
	padding: 0;
	margin: 0 15px;
	font-weight: 600;
}
#main-logo img {
	vertical-align: top;
}
.nav-link-btn {
	line-height: normal;
	padding: 0;
}
.nav-link-btn:last-child {
	margin-right: 15px;
}
.nav-link-btn-inner {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	margin: 5px;
	border-radius: 3px;
	padding: 0 25px;
	background: #00C108;
	font-weight: 600;
	-webkit-transition: background-color .1s ease;
	-moz-transition: background-color .1s ease;
	transition: background-color .1s ease;
}
.nav-link-btn:hover {
	background: none;
}
.nav-link-btn:hover .nav-link-btn-inner {
	background: #43a047;
}
.hero {
	margin: 0 -15px;
	background: #fff;
	overflow: hidden;
	position: relative;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .hero .hero-img {
	min-width: 100%;
}
.hero .hero-img {
	height: 300px;
}

.hero .hero-banner::after {
	top: 0;
	left: 0;
    width: 100%;
    height: 300px;
	position: absolute;
	content: '';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.01+0,0.7+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

}
.hero h1 {
	font-weight: 300;
	padding: 0;
	margin: 0 0 15px 0;
}
.hero h1 > strong {
	font-weight: 600;
}
.hero .hero-btn {
	display: inline-block;
	padding: 0 25px;
	height: 40px;
	line-height: 40px;
	font-size: 1.5rem;
	background: #43a047;
	border-radius: 5px;
	text-shadow: none;
	color: #fff;
	border-bottom: 2px solid rgba(0,0,0,.2);
	font-weight: 400;
	text-decoration: none;
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	transition: background-color .2s ease;
}
.hero .hero-btn:hover {
	background: #66bb6a;
	text-decoration: none;
}
.hero .hero-btn-para {
	padding: 0;
	margin: 0 0 15px 0;
	text-align: center;
}
.hero .hero-floating-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: rgba(255,255,255,.9);
	padding: 25px;
	margin: 0;
}
.hero .hero-page-title-logo {
	position: absolute;
	width: 100%;
	bottom: 30px;
	color: #fff;
	text-shadow: 0 1px 2px #000;
}
.hero .hero-page-title-logo h1 {
	font-size: 32px;
}
.hero .hero-page-title-logo .institution-logo > img {
	width: 100%;
	max-width: 200px;
	border-radius: 100%;
	border: 2px solid #fff;
	box-shadow: 0px 0px 5px #000;
}
.hero .institution-donors, .hero .institution-value {
	margin-top: 5px;
	line-height: 55px;
	font-size: 2.6em;
	font-weight: 600;
	color: #000;
}
.hero .institution-donors-caption, .hero .institution-value-caption {
	font-size: 90%;
	color: #607d8b;
	height: 30px;
}
.hero .donate-button {
	margin: 10px;
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	border-radius: 3px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	text-align: center;
	font-size: 24px;
	cursor: pointer;
	background: #3CB141;
	border-bottom: 2px solid rgba(0,0,0,.3);
	-webkit-transition: background-color .1s ease;
	-moz-transition: background-color .1s ease;
	transition: background-color .1s ease;
}
.hero .donate-button:hover {
	background: #4caf50;
}
.page-content {
	background: #fff;
	padding: 30px;
	margin: 30px 0;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}
.page-content h1 {
	color: #E21E3C;
	font-weight: 600;
}
.page-content h2, .page-content h3, .page-content h4, .page-content h5 {
	color: #455a64;
}
.page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h2 > small, .page-content h3 > small, .page-content h4 > small, .page-content h5 > small {
	font-weight: 300;
}
.page-content p {
	font-size: 1.2em;
	margin-bottom: 1.5em;
}
.page-content > hr, #footer hr {
	margin: 15px -15px;
}
.page-content > :first-child {
	margin-top: 0;
}
.page-content > :last-child {
	margin-bottom: 0;
}
.page-content blockquote {
	margin-bottom: 0;
}
#footer {
	padding: 15px 0;
}
#footer hr {
	border-color: #6CABFF;
}
#footer h4 {
	margin-top: 0;
	padding-top: 0;
	font-weight: 300;
}
#footer a {
	color: #b0bec5;
	-webkit-transition: color .1s ease;
	-moz-transition: color .1s ease;
	transition: color .1s ease;
}
#footer a:hover, #footer .link-sistema {
	color: #fff;
}
#footer .link-sistema {
	font-weight: 400;
}
#footer small, #footer small > a {
	font-weight: 300;
	color: #6CABFF;
}
#footer ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.github-button {
	height: 20px;
}
.logo-texto {
	font-weight: bold;
}
