<?xml version="1.0" encoding="UTF-8"?>
<web-app id="Ajuda.Ai-Backend" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>Projeto Ajuda.Ai</display-name>
	<description>Backend do Projeto Ajuda.Ai</description>
	
	<context-param>
		<param-name>br.com.caelum.vraptor.environment</param-name>
		<param-value>development</param-value>
	</context-param>
	
	<context-param>
		<param-name>br.com.caelum.vraptor.encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>messages</param-value>
	</context-param>
	
	<!--security-constraint>
		<web-resource-collection>
			<web-resource-name>Ajuda.Ai Admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>ajuda-ai</realm-name>
	</login-config>
	
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	
	<security-role>
		<role-name>user</role-name>
	</security-role-->
</web-app>
