<div id="dashboard">
	<div class="container">
		<div class="loading-indicator loading-modal" ng-show="loading"></div>
		
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3">
				<div class="panel panel-default dashboard-panel">
					<div class="panel-body">
						<div class="dashboard-number" ng-bind="(dashData.donations || '-') | number">-</div>
						<div class="dashboard-desc">Doações</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<div class="panel panel-default dashboard-panel">
					<div class="panel-body">
						<div class="dashboard-number" ng-bind="(dashData.institutions || '-') | number">-</div>
						<div class="dashboard-desc">Instituições Ajudadas</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<div class="panel panel-default dashboard-panel">
					<div class="panel-body">
						<div class="dashboard-number" ng-bind="(dashData.value ? (dashData.value / 100) : '-') | currency">$ -</div>
						<div class="dashboard-desc">Doados</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<div class="panel panel-default dashboard-panel">
					<div class="panel-body">
						<div class="dashboard-number" ng-bind="(dashData.meanValue ? (dashData.meanValue / 100) : '-') | currency">$ -</div>
						<div class="dashboard-desc">Valor Médio das suas Doações</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panel-title">Novos Posts</div>
						<div class="list-group">
							<a ui-sref="main.instituicaoPost({ slug: post.institution.slug, postSlug: post.slug })" class="list-group-item" ng-repeat="post in dashData.posts">
								<h4 class="list-group-item-heading" ng-bind="::post.title"></h4>
								<p class="list-group-item-text" ng-bind="::post.subtitle"></p>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="panel-title heart">Últimas Ajudas que você deu :)</div>
						<ul class="list-group">
							<li class="list-group-item text-center" ng-if="!dashData.payments.length">
								Nenhuma ajuda... ainda! Comece <a ui-sref="random" title="Clicando aqui lhe mandaremos aleatoriamente a uma das Instituições/ONGs cadastradas!">conhecendo uma Instituição</a> ;)
							</li>
							<li class="list-group-item" ng-repeat="pay in dashData.payments">
								<span class="badge" ng-bind="(pay.value / 100) | currency"></span>
								<a ui-sref="main.instituicao({ slug: pay.institution.slug })" ng-bind="pay.institution.name"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>