<div id="dashboard">
	<div class="container">
		<div class="loading-indicator loading-modal" ng-show="loading"></div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-title" ng-bind="institution.name"></div>
					<div class="panel-body">
						<form action="#" class="form-horizontal" method="post" ng-submit="doSubmit($event)">
							<div class="form-group">
								<label for="institution.name" class="col-sm-2 control-label required-label">Nome</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="institution.name" placeholder="Nome da sua Instituição" aria-describedby="institution-name-help-block" ng-model="institution.name" autofocus required ng-disabled="submitting">
									<p id="institution-name-help-block" class="help-block">Nome da sua Instituição da forma como vai aparecer no Website.</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="institution.slug" class="col-sm-2 control-label required-label">URL</label>
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon">https://ajuda.ai/</span>
										<input type="text" class="form-control" id="institution.slug" placeholder="Endereço do Ajuda.Ai da Instituição" aria-describedby="institution-slug-help-block" ng-model="institution.slug" required ng-disabled="submitting">
									</div>
									<p id="institution-slug-help-block" class="help-block">Como você gostaria do seu endereço no Ajuda.Ai? Recomendamos usar a sigla da Instituição.</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="institution.description" class="col-sm-2 control-label required-label">Descrição</label>
								<div class="col-sm-5">
									<textarea class="form-control" id="institution.description" placeholder="Nome da sua Instituição" aria-describedby="institution-description-help-block" ng-model="institution.description" required ng-disabled="submitting" rows="20"></textarea>
									<p id="institution-description-help-block" class="help-block">Descrição que mostramos para quem visita sua Instituição. É feita em <a href="/markdown-help.html" target="_blank" title="Quer ajuda com Markdown? Vamos te ensinar tudo que você quer saber!">Markdown</a>, uma tecnonlogia que ajuda a fazer algo bonito de forma simples. Siga <a href="/markdown-help.html" target="_blank" title="Quer ajuda com Markdown? Vamos te ensinar tudo que você quer saber!">esse link</a> para saber mais :)</p>
								</div>
								<div class="col-sm-5">
									<h4>Previsão:</h4>
									<div id="institution-description-preview" markdown-to-html="institution.description"></div>
								</div>
							</div>
							
							<hr>
							
							<div class="form-group">
								<label for="institution.paymentService" class="col-sm-2 control-label required-label">Serviço de Pagamento</label>
								<div class="col-sm-10">
									<select class="form-control" id="institution.paymentService" aria-describedby="institution-name-help-block" ng-model="institution.paymentService" required ng-disabled="submitting">
										<option>MoIP</option>
										<option>PagSeguro</option>
										<option disabled="disabled">Bcash!</option>
										<option disabled="disabled">Pagar.me</option>
										<option disabled="disabled">PayPal</option>
									</select>
									<p id="institution-paymentService-help-block" class="help-block">Qual serviço de pagamento é utilizado por você? Para usar o Ajuda.Ai, é necessário uma conta ativa no serviços de pagamento selecionado acima. Além disso, você pode trocar de Serviço de Pagamento a qualquer momento ;)</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>