<div class="institution-header">
	<div class="slider">
		<div><div class="slider-item slider">
			<div class="slider-img">
				<img ng-src="{{::institution.banner || '/res/img/institution-banner-default.jpg'}}" title="Banner da Instituição/ONG">
			</div>
		</div></div>
	</div>
	
	<div class="institution-data">
		<div class="institution-name">
			<div class="institution-name-inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
							<h1><strong ng-bind="::institution.name"></strong></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-2 text-center">
					<div class="institution-avatar"><a ui-sref=".index" title="Link para Página da Instituição"><img ng-src="{{::institution.logo || '/res/img/institution-default.jpg'}}" width="150" height="150" class="institution-avatar-img"></a></div>
				</div>
				<div class="col-xs-6 col-sm-9 col-md-10">
					<div class="row institution-data-row">
						<div class="col-sm-4">
							<div class="institution-helpers"><strong class="helper-count" ng-bind="donationStats.count | number"></strong> ajudantes</div>
						</div>
						<div class="col-sm-4">
							<div class="institution-donations"><strong class="donations-count" ng-bind="(donationStats.value / 100) | currency"></strong> arrecadados</div>
						</div>
						<div class="col-sm-4">
							<div class="institution-call-to-action"><a ui-sref=".doar" class="ajuda-ai-btn">Quero Ajudar</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container content-page institution-page">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<h1 class="page-title" ng-bind="::institution.name"></h1>
					<h5 class="page-subtitle" ng-bind="::(institution.attributes.slogan || 'Sua ajuda pode fazer a diferença')"></h5>
					
					<ul class="nav nav-pills" aria-role="menu">
						<li role="presentation" ui-sref-active="active"><a ui-sref=".index">Sobre</a></li>
						<li role="presentation" ui-sref-active="active"><a ui-sref=".doar">Fazer uma Doação</a></li>
						<li role="presentation" ui-sref-active="active"><a ui-sref=".posts">Posts da Instituição <span class="badge" ng-bind="::institution.attributes.postsCount | number"></span></a></li>
						<!--li role="presentation" ui-sref-active="active"><a ui-sref="ajudantes">Ajudantes</a></li-->
					</ul>
					
					<div ui-view></div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="page-title">O que minha ajuda irá fazer?</h3>
					<p ng-bind="::(institution.attributes.cause_desc || 'Ajudando com muito ou pouco, você estará contribuindo para continuidade deste projeto e tornando o mundo um lugar melhor para quem precisa')"></p>
					
					<hr>
						
					<h3 class="page-title">Informações para Contato</h3>
					<div markdown-to-html="institution.attributes.contact"></div>
					
					<div ng-if="::institution.attributes.website || institution.attributes.facebook || institution.attributes.twitter">
						<hr>
						
						<h3 class="page-title">Conecte-se!</h3>
						
						<p ng-if="::institution.attributes.website"><a ng-href="{{::institution.attributes.website}}" class="website-button" target="_blank" ng-bind="::institution.attributes.website"></a></p>
						<p ng-if="::institution.attributes.twitter"><a ng-href="https://twitter.com/{{::institution.attributes.twitter}}" class="twitter-button" target="_blank">Twitter: @<span ng-bind="::institution.attributes.twitter"></span></a></p>
						<div ng-if="::institution.attributes.facebook" class="fb-page" data-href="https://www.facebook.com/{{::institution.attributes.facebook}}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><p cite="https://www.faacebook.com/{{::institution.attributes.facebook}}" class="fb-xfbml-parse-ignore"><a ng-href="https://www.faaacebook.com/{{::institution.attributes.facebook}}">Facebook: <span ng-bind="::institution.attributes.facebook"></span></a></p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>